.vis {
    border: 1px dashed black;
    padding: 30px;
}
.resort-column li {
    -transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 6px;
}

.data-row {
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
}

.resort-row {    
    display: inline-block;
}

.data-row .label {
    display: inline-block;
    color: #333;
    width:100px;
}

#main-panel {
    margin: 20px;
}

#vis-panel {
    margin-left: 400px;
    overflow: auto;
}

#control-panel {
    margin-top: 20px;
    margin-left: 25px;
    padding: 20px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    z-index: 20;
    position: absolute;
    top: 0;
}

#title-panel {
    font-size: 26px;
    margin-top: 20px;
    margin-left: 25px;
    padding: 20px;
    background: #fff; 
    position: absolute;
    top: 300px;
}